.slider-testimonials__wrapper {
  position: relative;
}
.slider-testimonials__item {
  display: none;
}
.slider-testimonials__btn {
  position: absolute;
  height: 20px;
  width: 20px;
  top: calc(50% - 10px);
  z-index: 50;
}
.slider-testimonials__btn_prev {
  background: url("../img/section-testimonials/prev.svg") 0 0 no-repeat;
  left: -37px;
}
.slider-testimonials__btn_prev:hover {
  background: url("../img/section-testimonials/prev-hover.svg") 0 0 no-repeat;
}
.slider-testimonials__btn_next {
  background: url("../img/section-testimonials/next.svg") 0 0 no-repeat;
  right: -37px;
}
.slider-testimonials__btn_next:hover {
  background: url("../img/section-testimonials/next-hover.svg") 0 0 no-repeat;
}
.slider-testimonials__indicators {
  padding: 39px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.slider-testimonials__indicator {
  height: 10px;
  width: 10px;
  background: url("../img/section-testimonials/unselected.svg") 0 0 no-repeat;
}
.slider-testimonials__indicator.active {
  background: url("../img/section-testimonials/selected.svg") 0 0 no-repeat;
}
@media (max-width: 425px) {
  .slider-testimonials__indicator {
    margin: 350px 0px 0px 0px;
  }
}
@media (max-width: 320px) {
  .slider-testimonials__indicator {
    margin: 370px 0px 0px 0px;
  }
}

.item-slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  max-height: 474px;
}
@media (max-width: 425px) {
  .item-slide__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.item-slide__card {
  min-width: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 15px);
          flex: 0 0 calc(50% - 15px);
  text-align: center;
  background: #ffffff;
  padding: 31px 34px;
}
.item-slide__avatar {
  overflow: hidden;
  margin: 0px 0px 26px 0px;
}
.item-slide__avatar img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
@media (max-width: 425px) {
  .item-slide__avatar img {
    height: 60px;
    width: 60px;
  }
}
.item-slide__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #333333;
  margin: 0px 0px 8px 0px;
}
@media (max-width: 425px) {
  .item-slide__title {
    font-size: 15px;
  }
}
.item-slide__text {
  height: 168px;
  max-width: 100%;
  font-size: 15px;
  line-height: 160%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  color: #333333;
  margin: 0px 0px 14px 0px;
}
@media (max-width: 425px) {
  .item-slide__text {
    font-size: 12px;
  }
}
.item-slide__lable {
  font-weight: 700;
  font-size: 15px;
  line-height: 160%;
  color: #333333;
}
@media (max-width: 425px) {
  .item-slide__lable {
    font-size: 12px;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}