*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: Raleway;
  font-weight: 400;
}

.menu-open body {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

[class*=__container] {
  max-width: 1172px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.button {
  display: inline-block;
  background: #a6b03b;
  padding: 16px 86px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.button:hover {
  background-color: #c5d147;
}

/* header top */
.header__top {
  background: #f6f7eb;
}

.top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.top-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
}
@media (max-width: 1100px) {
  .top-header__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 425px) {
  .top-header__items {
    min-height: 40px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.top-header__item {
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: auto 100%;
}
.top-header__item.address {
  background-image: url("/img/svg/place.svg");
  margin-right: 48px;
}
@media (max-width: 768px) {
  .top-header__item.address {
    margin-right: 15px;
  }
}
@media (max-width: 630px) {
  .top-header__item.address {
    display: none;
  }
}
.top-header__item.email {
  background-image: url("/img/svg/email.svg");
  margin-right: 99px;
}
@media (max-width: 768px) {
  .top-header__item.email {
    margin-right: 15px;
  }
}
.top-header__item.phone {
  background-image: url("/img/svg/phone.svg");
}
.top-header__link {
  font-size: 15px;
  line-height: 160%;
  color: #333333;
}
@media (max-width: 425px) {
  .top-header__link {
    font-size: 10px;
  }
}
.top-header__button {
  background: #e9ce0b;
  font-size: 15px;
  line-height: 45px;
  max-height: 50px;
  padding: 0 68px;
  text-transform: uppercase;
  color: #4f4f4f;
}
.top-header__button:hover {
  background: #ffe731;
}
@media (max-width: 630px) {
  .top-header__button {
    display: none;
  }
}

/* header menu */
.header__menu {
  background: #ffffff;
}

.menu-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 85px;
}
@media (max-width: 768px) {
  .menu-header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 425px) {
  .menu-header__container {
    min-height: 80px;
  }
}
.menu-header__logo {
  margin-right: 124px;
}
@media (max-width: 768px) {
  .menu-header__logo {
    margin-right: 0;
  }
}
.menu-header__menu {
  position: relative;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 768px) {
  .menu__list {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    height: calc(100% - 130px);
    top: 130px;
    right: -100%;
    background-color: #ffffff;
    padding: 15px;
    gap: 15px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow: auto;
    z-index: 50;
  }
}
@media (max-width: 425px) {
  .menu__list {
    top: 120px;
  }
}
.menu__item {
  position: relative;
}
.menu__item:last-child {
  padding-left: 43px;
}
@media (max-width: 768px) {
  .menu__item:last-child {
    padding-left: 0;
  }
}
.menu__item:not(:last-child) {
  margin-right: 60px;
}
@media (max-width: 768px) {
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
}
.menu__item_down::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 82px;
  width: 100%;
  height: 100%;
  background: url("/img/svg/next.svg") 0 0 no-repeat;
}
.menu__link {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
}
.menu__icon {
  display: none;
}

/*menu burger */
.menu-open .menu__list {
  right: 0;
}

/*---------------*/
@media (max-width: 768px) {
  .icon-menu {
    display: block;
    position: relative;
    z-index: 5;
    width: 25px;
    height: 16px;
  }
  .icon-menu__line, .icon-menu::before, .icon-menu::after {
    content: " ";
    position: absolute;
    background-color: #333333;
    border-radius: 1px;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu__line {
    top: calc(50% - 1px);
  }
  .icon-menu::before {
    top: 1px;
  }
  .icon-menu::after {
    bottom: 1px;
  }
}

.menu-open .icon-menu::before {
  top: calc(50% - 1.25px);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 1.25px);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-open .icon-menu__line {
  left: 50%;
  width: 0;
}

/*---------------*/
/* section resorts*/
.resorts__body {
  position: relative;
  z-index: 1;
}
.resorts__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.resorts__image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.resorts__container {
  position: relative;
  text-align: center;
  z-index: 2;
}
.resorts__info {
  padding-top: 194px;
}
.resorts__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin-bottom: 62px;
}
@media (max-width: 425px) {
  .resorts__title {
    font-size: 33px;
    line-height: 44px;
  }
}
.resorts__button {
  margin-bottom: 201px;
}
.resorts__article {
  background: #f6f7eb;
  padding: 42px 0px 0px 0px;
}
.resorts__subtitle {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  font-family: "Playfair Display";
  color: #495f1d;
}