$baseFont: Raleway;
$secondFont: "Playfair Display";

.slider-testimonials {
	&__wrapper {
		position: relative;
	}

	&__items {
	}

	&__item {
		display: none;
	}

	&__btn {
		position: absolute;
		height: 20px;
		width: 20px;
		top: calc(50% - 10px);
		z-index: 50;
		&_prev {
			background: url("../img/section-testimonials/prev.svg") 0 0 no-repeat;
			left: -37px;
			&:hover {
				background: url("../img/section-testimonials/prev-hover.svg") 0 0 no-repeat;
			}
		}

		&_next {
			background: url("../img/section-testimonials/next.svg") 0 0 no-repeat;
			right: -37px;
			&:hover {
				background: url("../img/section-testimonials/next-hover.svg") 0 0 no-repeat;
			}
		}
	}

	&__indicators {
		padding: 39px 0px 0px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	&__indicator {
		height: 10px;
		width: 10px;
		background: url("../img/section-testimonials/unselected.svg") 0 0 no-repeat;
		&.active {
			background: url("../img/section-testimonials/selected.svg") 0 0 no-repeat;
		}
		@media (max-width: 425px) {
			margin: 350px 0px 0px 0px;
		}
		@media (max-width: 320px) {
			margin: 370px 0px 0px 0px;
		}
	}
}

.item-slide {
	&__body {
		display: flex;
		gap: 30px;
		max-height: 474px;
		@media (max-width: 425px) {
			flex-direction: column;
			max-height: 374px;
		}
	}

	&__card {
		min-width: 0;
		flex: 0 0 calc(50% - 15px);
		text-align: center;
		background: #ffffff;
		padding: 31px 34px;
	}
	&__avatar {
		overflow: hidden;
		margin: 0px 0px 26px 0px;
		img {
			border-radius: 50%;
			height: 120px;
			width: 120px;
			@media (max-width: 425px) {
				height: 60px;
				width: 60px;
			}
		}
	}

	&__title {
		font-family: $secondFont;
		font-weight: 700;
		font-size: 20px;
		line-height: 130%;
		text-align: center;
		color: #333333;
		margin: 0px 0px 8px 0px;
		@media (max-width: 425px) {
			font-size: 15px;
		}
	}

	&__text {
		height: 168px;
		max-width: 100%;
		font-size: 15px;
		line-height: 160%;
		text-align: center;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: #333333;
		margin: 0px 0px 14px 0px;
		@media (max-width: 425px) {
			font-size: 12px;
			height: 60px;
		}
	}

	&__lable {
		font-weight: 700;
		font-size: 15px;
		line-height: 160%;
		color: #333333;
		@media (max-width: 425px) {
			font-size: 12px;
		}
	}
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
