// Import fonts ===============================================================
// &display=swap&subset=cyrillic-ext
//@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

// Import *.scss =========================================================
@import "_reset";
@import "_ibg";

// Set variables ==============================================================

$baseFont: Raleway;
$secondFont: "Playfair Display";
// Base styles ================================================================
body {
	font-family: $baseFont;
	font-weight: 400;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}

[class*="__container"] {
	max-width: 73.25rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	margin: 0 auto;
}
.header {
}

.main {
	flex: 1 1 auto;
}

.footer {
}
// Header =====================================================================
.header {
	&__top {
		background: #f6f7eb;
	}

	&__menu {
	}
}
.top-header {
	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 45px;
	}

	&__item {
		padding-left: 30px;
		background-repeat: no-repeat;
		background-position: 0 2px;
		// background-size: contain;
		&.address {
			background-image: url("/img/svg/place.svg");
		}
		&.email {
			background-image: url("/img/svg/email.svg");
		}
		&.phone {
			background-image: url("/img/svg/phone.svg");
		}
	}

	&__link {
		font-size: 15px;
		line-height: 160%;
		color: #333333;
	}

	&__button {
		background: #e9ce0b;
		font-size: 15px;
		line-height: 45px;
		padding: 0 68px;
		text-transform: uppercase;
		color: #4f4f4f;
	}
}
//=============================================================================

// Main =======================================================================

// ============================================================================

// ============================================================================

// ============================================================================

// ============================================================================

// Footer =====================================================================
