// Import fonts ===============================================================
// &display=swap&subset=cyrillic-ext
//@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

// Import *.scss =========================================================
@import "_reset";
@import "_ibg";

// Set variables ==============================================================

$baseFont: Raleway;
$secondFont: "Playfair Display";
// Base styles ================================================================
body {
	font-family: $baseFont;
	font-weight: 400;
}

.menu-open body {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}

[class*="__container"] {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.header {
}

.page-content {
	flex: 1 1 auto;
}

.page-content {
	&__resorts {
		background: #f6f7eb;
	}
	&__about {
		background: #ffffff;
	}
	&__mission {
		background: #f6f7eb;
	}
}

.footer {
}

.btn {
	max-width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #a6b03b;
	padding: 16px 86px;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	&:hover {
		background-color: #c5d147;
	}
}

.title {
	font-family: $secondFont;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 53px;
	color: #495f1d;
	@media (max-width: 425px) {
		font-size: 33px;
		line-height: 44px;
	}
}

.text {
	font-size: 15px;
	line-height: 160%;
	color: #333333;
}

// Header =====================================================================
/* header top */
.header {
	&__top {
		background: #f6f7eb;
	}
}
.top-header {
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}
	&__items {
		display: flex;
		align-items: center;
		min-height: 45px;
		@media (max-width: 1100px) {
			flex-wrap: wrap;
		}
		@media (max-width: 425px) {
			min-height: 40px;
			width: 100%;
			justify-content: space-between;
		}
	}

	&__item {
		padding-left: 30px;
		background-repeat: no-repeat;
		background-position: 0 center;
		background-size: auto 100%;
		&.address {
			background-image: url("../img/svg/place.svg");
			margin-right: 48px;
			@media (max-width: 768px) {
				margin-right: 15px;
			}
			@media (max-width: 630px) {
				display: none;
			}
		}
		&.email {
			background-image: url("../img/svg/email.svg");
			margin-right: 99px;
			@media (max-width: 768px) {
				margin-right: 15px;
			}
		}
		&.phone {
			background-image: url("../img/svg/phone.svg");
		}
	}

	&__link {
		font-size: 15px;
		line-height: 160%;
		color: #333333;
		@media (max-width: 425px) {
			font-size: 10px;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #e9ce0b;
		font-size: 15px;
		line-height: 45px;
		max-height: 50px;
		padding: 0 68px;
		text-transform: uppercase;
		color: #4f4f4f;
		&:hover {
			background: #ffe731;
		}
		@media (max-width: 630px) {
			display: none;
		}
	}
}
//=============================================================================
/* header menu */
.header {
	&__menu {
		background: #ffffff;
	}
}
.menu-header {
	&__container {
		display: flex;
		align-items: center;
		min-height: 85px;
		@media (max-width: 768px) {
			justify-content: space-between;
		}
		@media (max-width: 425px) {
			min-height: 80px;
		}
	}

	&__logo {
		margin-right: 124px;
		@media (max-width: 768px) {
			margin-right: 0;
		}
	}

	&__menu {
		position: relative;
	}
}
.menu {
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@media (max-width: 768px) {
			position: fixed;
			flex-direction: column;
			flex-wrap: nowrap;
			width: 100%;
			height: calc(100% - 130px);
			top: 130px;
			right: -100%;
			background-color: #ffffff;
			padding: 15px;
			gap: 15px;
			transition: all 0.3s;
			overflow: auto;
			z-index: 50;
		}
		@media (max-width: 425px) {
			top: 120px;
		}
	}

	&__item {
		position: relative;
		&:last-child {
			padding-left: 43px;
			@media (max-width: 768px) {
				padding-left: 0;
			}
		}
		&:not(:last-child) {
			margin-right: 60px;
			@media (max-width: 768px) {
				margin-right: 0;
			}
		}
	}

	&__item_down::after {
		content: "";
		position: absolute;
		top: 4px;
		left: 82px;
		width: 100%;
		height: 100%;
		background: url("../img/svg/next.svg") 0 0 no-repeat;
	}

	&__link {
		text-transform: uppercase;
		font-size: 15px;
		line-height: 18px;
		color: #333333;
		&:hover {
			text-decoration: underline;
		}
	}

	&__icon {
		display: none;
	}
}

//=============================================================================
/*menu burger */
.menu-open .menu__list {
	right: 0;
}
/*---------------*/
.icon-menu {
	&__line {
	}
	@media (max-width: 768px) {
		display: block;
		position: relative;
		z-index: 5;
		width: 25px;
		height: 16px;
		&__line,
		&::before,
		&::after {
			content: " ";
			position: absolute;
			background-color: #333333;
			border-radius: 1px;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s;
		}
		&__line {
			top: calc(50% - 1px);
		}
		&::before {
			top: 1px;
		}
		&::after {
			bottom: 1px;
		}
	}
}
.menu-open .icon-menu::before {
	top: calc(50% - 1.25px);
	transform: rotate(-45deg);
}
.menu-open .icon-menu::after {
	bottom: calc(50% - 1.25px);
	transform: rotate(45deg);
}
.menu-open .icon-menu__line {
	left: 50%;
	width: 0;
}
/*---------------*/

// Main =======================================================================
/* section resorts*/
.resorts-section {
	&__body {
		position: relative;
		z-index: 1;
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
		}
	}

	&__info {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		z-index: 2;
		padding-top: 194px;
		padding-bottom: 201px;
		text-align: center;
	}

	&__title {
		font-family: $secondFont;
		font-weight: 700;
		font-size: 60px;
		line-height: 80px;
		text-align: center;
		letter-spacing: 0.01em;
		color: #ffffff;
		margin-bottom: 62px;
		@media (max-width: 425px) {
			font-size: 33px;
			line-height: 44px;
		}
	}

	&__button {
	}

	&__article {
		background: #f6f7eb;
		padding: 42px 0px 40px 0px;
		text-align: center;
	}

	&__subtitle {
		font-size: 30px;
		line-height: 40px;
		text-align: center;
		font-family: $secondFont;
		color: #495f1d;
		margin: 0px 0px 20px 0px;
	}

	&__label {
		font-size: 15px;
		line-height: 18px;
		color: #333333;
	}
}

/* section aboute*/

.about-section {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 50px 0px 53px 0px;
		align-items: center;
		@media (max-width: 425px) {
			padding: 40px 0px 40px 0px;
		}
	}

	&__title {
		margin: 0px 0px 36px 0px;
	}

	&__text {
		max-width: 805px;
		text-align: center;
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}

	&__items {
		display: flex;
		gap: 30px;
		margin: 0px 0px 88px 0px;
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #f6f7eb;
		padding: 31px 53px 45px;
		&:hover {
			background-color: #a6b03b;
		}
		&:hover > * {
			color: #ffffff;
		}
		&:hover .item-about__subtitle {
			text-transform: uppercase;
		}
		&:hover .support {
			background-image: url("../img/svg/support_w.svg");
		}
		&:hover .partner {
			background-image: url("../img/svg/partner_w.svg");
		}
		&:hover .leader {
			background-image: url("../img/svg/leader_w.svg");
		}
	}
}

.item-about {
	&__img {
		width: 60px;
		height: 60px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: contain;
		margin-bottom: 32px;
		&.support {
			background-image: url("../img/svg/support.svg");
		}
		&.partner {
			background-image: url("../img/svg/partner.svg");
		}
		&.leader {
			background-image: url("../img/svg/leader.svg");
		}
	}

	&__subtitle {
		font-family: $secondFont;
		font-weight: 700;
		font-size: 20px;
		line-height: 120%;
		text-align: center;
		text-transform: capitalize;
		color: #495f1d;
		margin: 0px 0px 12px 0px;
	}

	&__text {
		text-align: center;
	}
}

/* section mission*/
.mission-section {
	&__body {
		display: flex;
		@media (max-width: 1024px) {
			flex-direction: column-reverse;
		}
	}
	&__content {
		flex: 1 0 49%;
		position: relative;
		padding: 143px 0px 172px 0px;
		z-index: 10;
		@media (max-width: 1024px) {
			padding: 43px 0px 43px 0px;
		}
		&::after {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			right: -55%;
			height: 100%;
			width: 100%;
			background-image: url("../img/section-mission/logo-w.png");
			background-repeat: no-repeat;
			background-position: center right;
			background-size: contain;
			@media (max-width: 1024px) {
				top: 12.5%;
				right: -17%;
				height: 75%;
				width: 75%;
			}
			@media (max-width: 768px) {
				right: -25%;
			}
			@media (max-width: 425px) {
				right: -40%;
			}
		}
	}

	&__title {
		padding: 0px 0px 39px 0px;
	}

	&__text {
		padding: 0px 0px 34px 0px;
	}

	&__link {
	}

	&__image {
		flex: 0 0 100%;
		z-index: 10;
		width: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
		@media (max-width: 1024px) {
			flex: 1 1 100%;
			padding-bottom: 50%;
		}
	}
}

// ============================================================================

// ============================================================================

// ============================================================================

// ============================================================================

// Footer =====================================================================
